@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif, Arial, Helvetica;
}

@layer base {
  :root {
    --background: 0 0% 98%; /* #FAFAFA */
    --foreground: 0 0% 40%; /* #666666 */
    --hero: 0 0% 95%; /* #F2F2F2 */
    --hero-foreground: 0 0% 0%; /* #000000 */
    --card: 0 0% 98%%; /* #fafafa */
    --card-foreground: 240 3.7% 15.9%; /* #27272a */
    --popover: 0 0% 98%; /* #fafafa */
    --popover-foreground: 240 3.7% 15.9%; /* #27272a */
    --primary: 142.1 76.2% 36.3%; /* #63C550 */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 240 4.8% 95.9%; /* #D9D9E2 */
    --secondary-foreground: 240 5.9% 10%; /* #1A1A1A */
    --muted: 0 0% 91%; /* #E7E7E7 */
    --muted-foreground: 240 3.8% 46.1%; /* #8A8A8A */
    --accent: 240 4.8% 95.9%; /* #D9D9E2 */
    --accent-foreground: 240 5.9% 10%; /* #1A1A1A */
    --destructive: 3 59% 52%; /* #CC433B */
    --destructive-foreground: 0 0% 98%; /* #F8F8F8 */
    --success: 94 42% 48%; /* #73AD46 */
    --success-foreground: 0 0% 98%; /* #F8F8F8 */
    --border: 240 5.9% 90%; /* #A1A1B3 */
    --input: 240 5.9% 90%; /* #A1A1B3 */
    --ring: 142.1 76.2% 36.3%; /* #63C550 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%; /* #2C2A29 */
    --foreground: 0 0% 95%; /* #F2F2F2 */
    --card: 24 9.8% 10%; /* #3F2A1D */
    --card-foreground: 0 0% 95%; /* #F2F2F2 */
    --popover: 0 0% 9%; /* #1A1A1A */
    --popover-foreground: 0 0% 95%; /* #F2F2F2 */
    --primary: 142.1 70.6% 45.3%; /* #4BB43D */
    --primary-foreground: 144.9 80.4% 10%; /* #3F4C2C */
    --secondary: 240 3.7% 15.9%; /* #262C38 */
    --secondary-foreground: 0 0% 98%; /* #F8F8F8 */
    --muted: 0 0% 15%; /* #262626 */
    --muted-foreground: 240 5% 64.9%; /* #A5A5A5 */
    --accent: 12 6.5% 15.1%; /* #4B3D2A */
    --accent-foreground: 0 0% 98%; /* #F8F8F8 */
    --destructive: 3 59% 52%; /* #CC433B */
    --destructive-foreground: 0 85.7% 97.3%; /* #F7F7F7 */
    --border: 240 3.7% 15.9%; /* #262C38 */
    --input: 240 3.7% 15.9%; /* #262C38 */
    --ring: 142.4 71.8% 29.2%; /* #6D9D35 */
  }
}

.swiper-pagination-bullet-active {
  background-color: #63c550;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground tracking-wide sm:tracking-wider;
  }
}

#project-html-content {
  h2 {
    @apply text-hero-foreground text-xl sm:text-2xl font-bold w-full text-start lg:text-center leading-relaxed;
  }
  p {
    @apply text-foreground max-w-prose lg:max-w-screen-lg justify-center w-full text-start tracking-wider leading-loose text-base sm:text-lg;
  }
  a {
    @apply text-primary underline;
  }
  button {
    @apply bg-primary min-w-[80%] sm:min-w-min w-full sm:w-fit flex justify-center items-center text-primary-foreground font-semibold text-white py-4 px-6 rounded-md mt-4 uppercase hover:opacity-90 transition-all shadow-sm disabled:opacity-60 disabled:cursor-not-allowed disabled:shadow-none active:opacity-60 active:shadow-none;
    a {
      @apply text-primary-foreground no-underline;
    }
  }
}
